/* حاوية الصورة: تستخدم هذه القاعدة لتحديد موقع الصورة بشكل نسبي */
.image-container {
    position: relative; /* تحديد موقع العنصر بشكل نسبي بحيث يمكن وضع العناصر الأخرى بشكل مطلق ضمنه */
    width: 100%; /* عرض الحاوية يأخذ 100% من العرض المتاح */
    height: 100%; /* ارتفاع الحاوية يأخذ 100% من الارتفاع المتاح */
}

/* تنسيق الصورة: تحديد كيف يتم عرض الصورة داخل الحاوية */
.image {
    height: 100%; /* ارتفاع الصورة يأخذ 100% من ارتفاع الحاوية */
    width: 100%; /* عرض الصورة يأخذ 100% من عرض الحاوية */
    object-fit: cover; /* ضبط الصورة لتغطي الحاوية بالكامل مع الحفاظ على نسب الأبعاد */
    transition: filter 0.3s ease; /* تأثير الانتقال عند تغيير خصائص الفلتر، مما يجعله سلسًا */
}

/* تأثير التشويش عند التمرير فوق الصورة */
.image-container:hover .image {
    filter: blur(5px); /* تطبيق تأثير التشويش على الصورة بمقدار 5 بكسل عند التمرير فوق الحاوية */
}

/* تنسيق النصوص التي تظهر فوق الصورة */
.overlay {
    position: absolute; /* تحديد موقع النصوص بشكل مطلق داخل الحاوية النسبية */
    top: 50%; /* وضع النصوص في منتصف الحاوية من الأعلى */
    left: 50%; /* وضع النصوص في منتصف الحاوية من اليسار */
    transform: translate(-50%, -50%); /* نقل النصوص بشكل عمودي وأفقي لتكون في وسط الحاوية تمامًا */
    color: white; /* تحديد لون النصوص بالأبيض */
    text-align: center; /* توسيط النصوص داخل الحاوية */
    visibility: hidden; /* إخفاء النصوص بشكل افتراضي */
    opacity: 0; /* تعيين الشفافية إلى 0 لإخفاء النصوص */
    transition: opacity 0.3s; /* تأثير الانتقال لتغيير الشفافية بحيث يظهر النص تدريجيًا عند التمرير فوق الصورة */
}

/* إظهار النصوص عند التمرير فوق الصورة */
.image-container:hover .overlay {
    visibility: visible; /* جعل النصوص مرئية عند التمرير فوق الحاوية */
    opacity: 1; /* تعيين الشفافية إلى 1 لجعل النصوص كاملة الوضوح */
}

/* تنسيق عنوان النصوص */
.overlay h2 {
    margin: 0; /* إزالة الهوامش الافتراضية حول العنوان */
    font-size: 2rem; /* تعيين حجم الخط إلى 2rem */
}

/* تنسيق الفقرات ضمن النصوص */
.overlay p {
    margin: 0; /* إزالة الهوامش الافتراضية حول الفقرات */
    font-size: 1.2rem; /* تعيين حجم الخط إلى 1.2rem */
}



/*مشان الدائرة يلي فيها السهم  */
.hover-gradient {
    background-color: transparent;
    background-image: linear-gradient(180deg, #FFFFFF1C 0%, #FFFFFF1C 100%);
    color: white;
    transition: background 0.3s ease;
  }
  
  .hover-gradient:hover {
    background: linear-gradient(135deg, #7BD706 0%, #02CE80 51%, #7BD706 100%);
  }
  